html, body {
    background: #7b68ee;
    font-size: 0.9em;
    font-family: Courier New, Avenir Next, Arial, Bold, Impact, "Arial Black", sans-serif;
    color: black;
    text-align:     center;
}


img {
  max-width: 100%;
  height: auto;
}


.imghome{
    max-width:      30px;
    /*float:          left;*/
    top:            10px;
    left:           10px;
    position:       fixed;
}

.italic{
  font-style: italic;
}


.textjustifymargin{
  text-align: justify;
  /*top right bottom left*/
  margin:15px 5px 0px 5px;

}

.imgleft{
    float:          left;
}
